body {
	margin-top: 0;
	background-color: #252B2E;
}

.hero {
	width: inherit;
}

.hero img {
	display: block;
	width: 50%;
	margin: 0 0 0 40%;
	float: none;
}

.mainContent {
	width: 95%;
	margin: 0 auto;
	background-color: white;
}

header {
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}

.headerLogo {
	font-family: 'orev-bolditalic', sans-serif;
	font-size: 3rem;
	font-size: 50pt;
	float: left;
	text-transform: uppercase;
	margin: 10px 0 10px 10px;
}

nav {
	font-family: 'verbextrabold', sans-serif;
	text-align: center;
	font-size: 1.2em;
	vertical-align: text-bottom;
	color: #333333;
	text-transform: uppercase;
	margin: 10px 10px 10px 0;
	float: right;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

 ul.navlist>li {
	display: inline;
	padding-right: 5%;
	list-style: none;
}

ul.navlist>li>a {
	letter-spacing: 0.4em;
	border-bottom: 3px solid transparent;
	transition: 1s;
}

ul.navlist>li>a>span {
	border-bottom: 3px solid transparent;
	transition: 1s;
}

ul.navlist>li>a:visited, ul.navlist>li>a:link {
	text-decoration: none;
	color: inherit;
}

ul.navlist>li>a:hover {
	border-bottom: 3px solid blue;
}

#hero {
	width: 100%;
}

div.article {
	width: 60%;
	margin-left: 20%;
}

h1 {
	font-family: "verbextrabold", sans-serif;
	color: #333333;
	font-size: 4em;
	line-height: 1em;
	margin-bottom: 2px;
}

h2 {
	font-family: "verbsemibold", sans-serif;
	color: #999999;
	margin-top: 0px;
}

p {
	font-family: "verbmedium", sans-serif;
	font-size: 1.2em;
	line-height: 1.4em;
	margin: 2rem 0;
}

div.footer {
	font-family: "verbextrabold", sans-serif;
	color: #333333;
	width: 60%;
	margin-left: 20%;
}

img.footlogo {
	float: left;
	margin-right: 10px;
	width: 80px;
}
div.footnav>ul>li {
	font-family: 'verbextrabold', sans-serif;
	list-style: none;
	margin-top: 0;
	letter-spacing: 0.2em;
	color: #333333;
}

